<p>
You have requested to change your password. please click the button below to change your password.
</p>

<a href="{{ verify_url }}" style="height: 25px; width: 150px; cursor: pointer; text-align: center;">
Change Password
</a>